.ss-container{
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 900px;
  .ss-item{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;   
    &.active{
      
    }
    &.ss-fade{
      transition: all 1s ease-in-out;
      opacity: 0;
      &.active{
        opacity: 1;
        z-index: 1;  
      }
    }
    &.ss-move-up{
      transition: all 1s ease-in-out;
      bottom: -100%;
      &.active{
        transition-delay: 1s;
        bottom: 0;
        z-index: 1;  
      }
    }
    &.ss-move-down{
      transition: all 1s ease-in-out;
      top: -100%;
      &.active{
        transition-delay: 1s;
        top: 0;
        z-index: 1;  
      }
    }
    &.ss-move-right{
      transition: all 1s ease-in-out;
      left: -100%;
      &.active{
        transition-delay: 1s;
        left: 0;
        z-index: 1;  
      }
    }
    &.ss-move-left{
      transition: all 1s ease-in-out;
      right: -100%;
      &.active{
        transition-delay: 1s;
        right: 0;
        z-index: 1;  
      }
    }
  }
}


// COMPLEMENTARY STYLE
body{
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
  background-color: #F7DDD4;
  font-family: "Roboto";
  h1{
    font-size: 36px;
    font-weight: bold;
    color: #2E3409;
  }
}
.ss-item{
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: white;
    font-size: 100px;
  }
}
