.ss-container {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 900px; }
  .ss-container .ss-item {
    position: absolute;
    z-index: -100;
    height: 100%;
    width: 100%;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
    .ss-container .ss-item.ss-moving {
      z-index: 100 !important; }
    .ss-container .ss-item.ss-fade {
      opacity: 0; }
      .ss-container .ss-item.ss-fade.active {
        opacity: 1;
        z-index: 1; }
    .ss-container .ss-item.ss-move-up {
      top: 100%; }
      .ss-container .ss-item.ss-move-up.ss-move-next {
        top: 100%; }
      .ss-container .ss-item.ss-move-up.ss-move-prev {
        top: -100%; }
      .ss-container .ss-item.ss-move-up.active {
        top: 0;
        z-index: 1000 !important; }
    .ss-container .ss-item.ss-move-down {
      top: -100%; }
      .ss-container .ss-item.ss-move-down.ss-move-next {
        top: -100%; }
      .ss-container .ss-item.ss-move-down.ss-move-prev {
        top: 100%; }
      .ss-container .ss-item.ss-move-down.active {
        top: 0;
        z-index: 1000 !important; }
    .ss-container .ss-item.ss-move-right {
      right: 100%; }
      .ss-container .ss-item.ss-move-right.ss-move-next {
        right: 100%; }
      .ss-container .ss-item.ss-move-right.ss-move-prev {
        right: -100%; }
      .ss-container .ss-item.ss-move-right.active {
        right: 0 !important;
        z-index: 1000 !important; }
    .ss-container .ss-item.ss-move-left {
      right: -100%; }
      .ss-container .ss-item.ss-move-left.ss-move-next {
        right: -100%; }
      .ss-container .ss-item.ss-move-left.ss-move-prev {
        right: 100%; }
      .ss-container .ss-item.ss-move-left.active {
        right: 0;
        z-index: 1000 !important; }
  .ss-container .ss-indicator-container {
    position: absolute;
    z-index: 10000;
    right: 0;
    height: 100%;
    width: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px; }
    .ss-container .ss-indicator-container .ss-indicator {
      margin: 4px 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000;
      cursor: pointer; }
      .ss-container .ss-indicator-container .ss-indicator.active {
        width: 7px;
        height: 7px;
        border: 1px solid #000;
        background-color: transparent; }

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F7DDD4;
  font-family: "Roboto"; }
  body h1 {
    font-size: 36px;
    font-weight: bold;
    color: #2E3409; }

.ss-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .ss-item h1 {
    color: white;
    font-size: 100px; }
